body{
    background: white
    ;
}
.container{
    background-color: lightgray; 
    height: 20vh; 
    align-items: center; 
    display: flex; 
    border-radius: 5px;"
}



style="width: 100vh;"
my-2