<!-- your html code here -->
<div class="container-fluid" style="padding-left: 10rem; padding-right: 10rem">
    <div class="row">
        <div class="col-8" style="margin-top: 2em;">
            <h2>
                The First Heading 
                <small class="text-muted">Will Catch Your Eye</small>
            </h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam fuga, sit 
            dolorem non modi rerum laboriosam, sequi asperiores sunt quis quos. Aliquam 
            eligendi quae debitis hic dolor quos ratione! 
            
        </div>
        <div class="col-4" style="margin-top: 2em;">
            <img src="https://picsum.photos/300" class="rounded-circle d-block" style="margin-left: auto;"/>
            
        </div>
    </div>
    
</div>