
<div class="container-fluid" style="padding-left: 10rem; padding-right: 10rem">
    <div class="row">
        
        <div class="col-4" style="margin-bottom: 2em;">
            <img src="https://picsum.photos/300" class="rounded-circle d-block" />
            
        </div>
        <div class="col-8" style="margin-bottom: 2em;">
            <h2>
                The Second Heading 
                <small class="text-muted">Is Pretty Cool Too.</small>
            </h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam fuga, sit 
            dolorem non modi rerum laboriosam, sequi asperiores sunt quis quos. Aliquam 
            eligendi quae debitis hic dolor quos ratione! 
            
        </div>
    </div>
    
</div>