
<div class="container-fluid" >
    <div class="row">
        
        <div class="col-4" style="padding-top: 2em; padding-bottom: 1em; padding-left: 2em; margin-bottom: 2em;">
            <img src="https://picsum.photos/300" class="rounded-circle mx-auto d-block" />
            
        </div>
        <div class="col-8" style="padding-top: 2em; padding-bottom: 1em; padding-right: 3em; padding-left: 0em; margin-bottom: 2em;">
            <h2>
                The Second Heading 
                <small class="text-muted">Is Pretty Cool Too.</small>
            </h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam fuga, sit 
            dolorem non modi rerum laboriosam, sequi asperiores sunt quis quos. Aliquam 
            eligendi quae debitis hic dolor quos ratione! 
            
        </div>
    </div>
    
</div>